{
    "branches": [
        "main",
        { "name": "beta", "prerelease": true }
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    { "type": "docs", "scope": "README", "release": "patch" },
                    { "type": "refactor", "breaking": false, "release": "patch" },
                    { "type": "fix", "breaking": false, "release": "minor" },
                    { "scope": "no-release", "release": false }
                ]
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        "@semantic-release/github",
        "@semantic-release/git"
    ]
}

